/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(0, 17, 252);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(165, 31, 31);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2a59af;
    color: white;
  }


body {
  background-color: cornsilk;




